.main{
    overflow: hidden;
}

.header{
    width: 100%;
    height: var(--header-height);
    background-image: linear-gradient(0, #fe6433, #f53e2d);
}

/* Header sort bar */

.header__sort-bar{
    position: fixed;
    top: var(--header-height);
    left: 0;
    right: 0;
    height: var(--header-sort-bar-height);
    background-color: #fff;
    margin: 0;
    padding-left: 0;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    display: none;
}

.header__sort-item{
    flex: 1;
    list-style: none;
}

.header__sort-link{
    font-size: 1.6rem;
    text-align: center;
    position: relative;
    display: block;
    height: 100%;
    line-height: var(--header-sort-bar-height);
    color: var(--text-color);
    text-decoration: none;
}

.header__sort-link::before{
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    height: 60%;
    border-left: 1px solid #e5e5e5;
}

.header__sort-link:first-child .header__sort-link::before{
    display: none;
}

.header__sort--active{
    color: var(--primary-color);
}

/* Header navbar */
.header__navbar{
    display: flex;
    justify-content: space-between;
}

.header__navbar-list{
    padding-left: 0;
    list-style: none;
    margin: 4px 0 0 0;
    display: flex;
    align-items: center;
}

.header__navbar-item{
    margin: 0 8px;
    min-height: 26px;
    position: relative;
}

.header__navbar-item-user{
   
}

.header__navbar-item-user-img{
    height: 22px;
    width: 22px;
    border-radius: 50%; 
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.header__navbar-item-user-name{
    font-size: 1.4rem;
    font-weight: 400;
    margin-left: 4px;
}

.header__navbar-item-user:hover .navbar__item-user-menu{
    display: block;
}

.navbar__item-user-menu{
    position: absolute;
    list-style: none;
    padding: 8px 0;
    top: calc(100% + 8px);
    right: 0;
    background-color: var(--white-color);
    border-radius: 2px;
    width: 160px;
    z-index: 1;
    box-shadow: 0 0 4px #999;
    display: none;
    animation: FadeIn ease 0.2s;
}

.navbar__item-user-menu::before{
    content: "";
    position: absolute;
    top: -26px;
    right: 8px;
    border-style: solid;
    border-width: 16px 24px;
    cursor: pointer;
    border-color: transparent transparent var(--white-color) transparent;
}

.navbar__item-user-menu::after{
    content: "";
    display: block;
    position: absolute;
    top: -8px;
    right: 0;
    width: 60%;
    height: 8px;
}

.navbar__item-user-item--seperate{
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.navbar__item-user-item a{
    text-decoration: none;
    font-size: 1.4rem;
    display: block;
    padding: 6px 16px;
    color: var(--text-color);
}

.navbar__item-user-item a:first-child{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.navbar__item-user-item a:last-child{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.navbar__item-user-item a:hover{
    background-color: #fafafa;
}

.header__navbar-item--qr:hover .header__qr{
    display: block;
}

.header__navbar-item--has-notify:hover .header__notify{
    display: block;
}

.header__navbar-item-link,
.header__navbar-item{
    font-weight: 300;
    font-size: 1.3rem;
    text-decoration: none;
    display: inline-block;
    color: var(--white-color);
}

.header__navbar-iconlink:hover,
.header__navbar-item-link:hover,
.header__navbar-item:hover{
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}

.header__navbar-item-link,
.header__navbar-item,
.header__navbar-iconlink{
    align-items: center;
    display: inline-flex;
}

.header__navbar-item--strong{
    font-weight: 600;
}

.header__navbar-title--no-pointer{
    cursor: text;
    color: var(--white-color);
}

.header__navbar-item--separate::after{
    top: 50%;
    right: -9px;
    content: "";
    height: 16px;
    display: block;
    position: absolute;
    transform: translateY(-50%);
    border-left: 1px solid #fb9086;
}

.header__navbar-iconlink{
    text-decoration: none;
    color: var(--white-color);
}

.header__navbar-iconlink:nth-child(2){
    margin-left: 3px;
}

.header__navbar-icon{
    margin: 0 6px;
    font-size: 1.8rem;
}

/* Header QR code */

.header__qr{
    position: absolute;
    left: 0;
    top: 118%;
    z-index: 2;
    width: 186px;
    padding: 8px;
    display: none;
    border-radius: 2px;
    animation: FadeIn ease 0.3s;
    background-color: var(--white-color);
}

.header__qr::before{
    content: "";
    position: absolute;
    display: block;
    height: 20px;
    width: 100%;
    top: -20px;
    left: 0;
}

.qr-img{
    width: 100%;
}

.header__qr--apps{
    display: flex;
    margin: 0 11px;
    justify-content: space-between;
}


.header__qr-download-img{   
    height: 16px    ;
}

/* Notification */

.header__notify{
    position: absolute;
    top: 118%;
    right: 0;
    z-index: 2;
    width: 404px;
    display: none;
    cursor: default;
    border: 1px solid #D3D3D3;
    animation: notifyGrown 0.3s;
    will-change: opacity, transform;
    background-color: var(--white-color);
    transform-origin: calc(100% - 30px) 0px;
}

.header__notify:nth-child(2){
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__notify:last-child{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__notify::before{
    content: "";
    position: absolute;
    top: -28px;
    right: 6px;
    border-style: solid;
    border-width: 20px 30px;
    border-color: transparent transparent #fff transparent;
}

.header__notify::after{
    content: "";
    position: absolute;
    width: 120px;
    height: 30px;
    top: -20px;
    right: -10px;
}

@keyframes notifyGrown{
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify-head{
    height: 40px;
    background-color: var(--white-color);
}

.header__notify-head h3{
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    line-height: 40px;
}

.header__notify-list{
    padding-left: 0;
}

.header__notify-item{
    display: flex;
    flex-direction: column;
}

.header__notify-item:hover{
    background-color: #f7f7f7;
}

.header__notify-item--viewed{
    background-color: rgba(238, 75, 43, 0.09);
}

.header__notify-link{
    display: flex;
    padding: 12px;
    text-decoration: none;
    width: 100%;
}

.header__notify-img{
    width: 48px;
    object-fit: contain;
}

.header__notify-infor{
    margin-left: 12px;
    word-break: break-word;
}

.header__notify-name{
    display: block;
    font-size: 1.4rem;
    color: var(--black-color);
    font-weight: 400;
    line-height: 1.8rem;
}

.header__notify-decription{
    display: block;
    font-size: 1.2rem;
    line-height: 1.6rem;
    margin-top: 4px;
    color: #756F6E;
}

.header__notify-footer{
    display: flex;
}

.header__notify-footer-btn{
    text-decoration: none;
    color: var(--text-color);
    padding: 0.8rem 0;
    font-size: 1.4rem;
    font-weight: 400;
    width: 100%;
    text-align: center;
}

.auth-form__heading{
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__switch-btn{
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 500;
    cursor: pointer;
}

.auth-form__group{
    margin-top: 1.6rem;
}

.open{
    display: flex !important;
}

/* Authen modal */
.modal-register{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
}

.modal-login{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
}

.modal__container--login{
    margin: auto;
    z-index: 1;
    border-radius: 2px;
}

.modal__container--register{
    margin: auto;
    z-index: 1;
    border-radius: 2px;
}

.auth-form{
    background: var(--white-color);
    width: 500px;
    animation: notifyGrown 0.5s ease;
}

.auth-form__container{
    padding: 0 32px;
}

.auth-form__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 12px 0px;
}

.auth-form__form{
    margin-top: 16px;
}
.auth-form__input{
    width: 100%;
    height: 40px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    outline: none;
}

.auth-form__input:focus{
    border-color: #777;
}

.auth-form__aside{
    margin-top: 18px;
}

.auth-form__policy-text{
    font-size: 1.2rem;
    line-height: 1.6;
    text-align: center;
}

.auth-form__text-link{
    color: var(--primary-color);
    text-decoration: none;
}

.auth-form__control{
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__control-back{
    margin-right: 8px;
}

.auth-form__social{
    background: #F5F5F5;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.auth-form__social-icon{
    font-size: 1.8rem;
}

.auth-form__social-facebook{
    background: #3A5A98;
    color: var(--white-color);
}

.auth-form__social-title{
    margin: 0 36px;
}

.auth-form__social-google{
    background: var(--white-color);
    color: var(--text-color);
}

.auth-form__help{
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link{
    text-decoration: none;
    font-size: 1.4rem;
    color: #939393;
}

.auth-form__help-separate{
    display: block;
    border-left: 1px solid var(--border-color);
    height: 22px;
    margin: -4px 16px 0;
}

.auth-form__help-forgot{
    color: var(--primary-color);
}

/* Header with search */

.header-with-search{
    height: var(--header-with-search);
    display: flex;
    align-items: center;
}

.header__mobile-search{
    padding: 0 12px;
    display: none;
}

.header__mobile-search-icon{
    font-size: 2.4rem;
    color: var(--white-color);
}

.header__logo{
    max-width: 150px;
    margin-right: 50px;
}

.header__logo-link{
    color: transparent;
    text-decoration: none;
    display: block;
    line-height: 0;
    -webkit-tap-highlight-color: transparent;
}

.header__logo-shopee{
    max-width: 150px;

}

.header__search{
    flex: 1;
    height: 40px;
    display: flex;
    border-radius: 4px;
    align-items: center;
    background-color: var(--white-color);
}



.header__search-input-warp{
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 4px;
}

.header__search-select{
    cursor: pointer;
    border-left: 1px solid var(--border-color);
    padding-left: 16px;
    position: relative;
}

.header__search-select:hover .header__search-option{
    display: block;
}

.header__search-select-laber{
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-select-icon{
    font-size: 1.4rem;
    color: #888888;
    margin: 0 16px 0 8px;
    position: relative;
    top: 1px;
}

.header__search-btn{
    height: 36px;
    background-color: var(--primary-color);
    border: none;
    margin-right: 3px;
    width: 60px;
    outline: none;
}

.header__search-btn:hover{
    cursor: pointer;
    background-color: #fb6445;
}

.header__search-btn-icon{
    color: var(--white-color);
    font-size: 1.4rem;
}

.header__search-option{
    position: absolute;
    right: 0;
    top: 140%;
    width: 130px;
    box-shadow: 0 1px 2px #ccc;
    padding: 0;
    border-radius: 3px;
    display: none;
    z-index: 1;
    animation: FadeIn 0.2s ease;
}

.header__search-option::after{
    content: "";
    position: absolute;
    display: block;
    height: 20px;
    width: 100%;
    top: -20px;
}

.search-option-item{
    background-color: var(--white-color);
    padding: 8px 8px;
    list-style: none;
}

.search-option-item:first-child{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.search-option-item:last-child{
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.search-option-item:hover{
    cursor: pointer;
    background-color: rgb(249, 249, 249);
}

.search-option-item span{
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 8px;
}

.search-option-item i{
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-left: 10px;
    display: none;
}

.search-option-item--active i{
    display: inline-block;
}

/* Search history */

.header__search-input:focus ~ .header__search-history{
    display: block;
}

.header__search-history{
    position: absolute;
    left: 0;
    top: calc(100% + 2px);
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 3px;
    box-shadow: 0 1px 5px rgb(229, 226, 226);
    display: none;
    z-index: 1;
}

.header__search-history-heading{
    margin: 6px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__search-history-list{
    padding-left: 0;
    list-style: none;
    margin: 6px 0 0;
}

.header__search-history-item{
    height: 38px;
    padding: 0 12px;
}

.header__search-history-item:last-child{
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.header__search-history-item:hover{
    cursor: pointer;
    background-color: rgb(245, 245, 245);
}

.header__search-history-item a{
    line-height: 38px;
    font-size: 1.4rem;
    color: var(--text-color);
    text-decoration: none;
    display: block;
}

/* Cart */
.header__cart{
    width: 150px;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}

.header__cart-warp{
    position: relative;
    display: inline-block;
    padding: 0 12px;
    cursor: pointer;
}

.header__cart-warp:hover .header__cart-list{
    display: block;
}

.header__cart-list{
    position: absolute;
    top: calc(100% + 12px);
    right: -8px;
    background-color: var(--white-color);
    width: 400px;
    z-index: 1;
    border-radius: 2px;
    box-shadow: 0 0 10px 1px #fff;
    animation: FadeIn 0.2s ease;
    cursor: default;
    display: none;
}

/* Hình mũi tên hướng vào giỏi hàng của list sản phẩm đã thêm */
.header__cart-list::after{
    content: "";
    position: absolute;
    top: -26px;
    right: 8px;
    border-style: solid;
    border-width: 16px 24px;
    cursor: pointer;
    border-color: transparent transparent var(--white-color) transparent;
}

.header__cart-list--no-cart{
    padding: 28px 0 14px 0;
    text-align: center;
}

.header__cart-list--no-cart .header__cart--no-cart-img,
.header__cart-list--no-cart .header__cart-list-no-cart-decription{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.header__cart--no-cart-img{
    width: 60%;
    display: none;
}

.header__cart-notice-no-item{
    top: -4px;
    right: 4px;
    padding: 1px 7px;
    font-size: 1.4rem;
    position: absolute;
    border-radius: 10px;
    line-height: 1.4rem;
    color: var(--primary-color);
    border: 2px solid #EE4D2D;
    background-color: var(--white-color);
}

.header__cart-notice-have-item{
    top: -4px;
    right: 4px;
    padding: 1px 7px;
    font-size: 1.4rem;
    position: absolute;
    border-radius: 10px;
    line-height: 1.4rem;
    color: var(--primary-color);
    border: 2px solid #EE4D2D;
    background-color: var(--white-color);
}

.header__cart-list-no-cart-decription{
    display: none;
    margin: 16px 0 0 8px;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 600;
}

.header__cart-icon{
    font-size: 2.4rem;
    margin-top: 4px;
    color: var(--white-color);
}

.header__cart-head{
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__cart-list-item{
    padding-left: 0;
    list-style: none;
    overflow-y: auto;
    max-height: 56vh;
}

.header__cart-item{
    display: flex;
}

.header__cart-item:hover{
    background-color: rgb(244, 244, 244);
}

.header__cart-item-img{
    width: 48px;
    height: 48px;
    margin: 12px;
    border: 1px solid var(--border-color);
}

.header__cart-item-infor{
    width: 100%;
    margin-right: 12px;
}

.header__cart-item-heading{
    display: flex;
    align-items: center;
    margin: 12px 0;
    justify-content: space-between;
}

.header__cart-item-name{
    font-size: 1.4rem;
    color: var(--text-color);
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.header__cart-item-price{
    font-size: 1.4rem;
    color: var(--primary-color);
}

.header__cart-item-multiply{
    font-size: 0.9rem;
    margin: 0 4px;
    color: #757575;
}

.header__cart-item-quantity{
    color: #757575;
    font-size: 1.2rem;
}

.header__cart-body{
    display: flex;
    justify-content: space-between;
}

.header__cart-item-decription{
    color: #757575;
    font-size: 1.3rem;
}

.header__cart-item-delete{
    color: var(--text-color);
    font-weight: 600;
    font-size: 1.3rem;
}

.header__cart-item-delete:hover{
    cursor: pointer;
    color: var(--primary-color);
}

.header__cart-view{
    margin: 0 12px 12px 0;
    width: 124px;
    float: right;
}

.header__cart-view:hover{
    opacity: 0.9;
}


/* app container */
.app__container{
    background-color: #F5F5F5;
}

.app-content{
    padding-top: 36px;
}

.category{
    border-radius: 2px;
    background-color: var(--white-color);
}

.category__heading-icon{
    font-size: 1.7rem;
    margin-right: 4px;
}

.category__heading{
    color: var(--text-color);
    margin-top: 0;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 220;
    padding: 20px 20px 8px 20px;
}

.category-list{
    padding: 0 0 8px 0;
    list-style: none;
    margin-left: 9px;
}

.category-item{
    height: 40px;
    line-height: 30px;
    position: relative;
}

.category-item::before{
    content: "";
    position: absolute;
    top: 0;
    left: 16px;
    right: 16px;
    border-top: 1px solid #E1E1E1;
}

.category-item__link{
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.5rem;
    display: block;
    padding: 6px 16px;
    position: relative;
    right: 0;
    transition: right linear 0.2s;
}

.category-item__link:hover{
    right: -4px;
    color: var(--primary-color);
}

.category-item--active .category-item__link::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(calc(-50% - 1px));
    border: 4px solid;
    border-color: transparent transparent transparent var(--primary-color);
}
.category-item--active .category-item__link{
    color: var(--primary-color);
}

/* Mobile category */

.mobile-category{
    display: none;
}

.mobile-category__list{
    display: flex;
    padding-left: 0;
    list-style: none;
    max-width: 100%;
    overflow-x: auto;
}

.mobile-category__list::-webkit-scrollbar{
    display: none;
}

.mobile-category__item{
    flex-shrink: 0;
    margin-right: 10px;
}

.mobile-category__item:nth-of-type(3n + 1) .mobile-category__link{
    background-color: #87AFD8;
}

.mobile-category__item:nth-of-type(3n + 2) .mobile-category__link{
    background-color: #76C9BD;
}

.mobile-category__item:nth-of-type(3n + 3) .mobile-category__link{
    background-color: #88CF81;
}

.mobile-category__link{
    --line-height: 2rem;
    width: 108px;
    display: block;
    height: calc(var(--line-height) * 2);
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--white-color);
    line-height: var(--line-height);
    border-radius: 4px;
    text-align: center;
    font-weight: 300;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    padding: 0 5px;
}

/* Home sort + filter */

.home-fillter{
    display: flex;
    align-items: center;
    border-radius: 2px;
    padding: 12px 22px;
    background-color: rgba(0, 0, 0, 0.04);
}

.home-filter__label{
    font-size: 1.4rem;
    margin-right: 16px;
    color: #555555;
}

.home-filter__btn{
    min-width: 90px;
    margin-right: 12px;
}

.home-filter__page{
    display: flex;
    margin-left: auto;
    align-items: center;
}

.home-filter__num-page{
    margin-right: 22px;
    font-size: 1.5rem;
    color: var(--text-color);
}

.home-filter__page-current{
    color: var(--primary-color);
}

.home-filter__page-control{
    border-radius: 2px;
    overflow: hidden;
    width: 72px;
    height: 36px;
    display: flex;
}

.home-filter__page-btn{
    flex: 1;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1.4rem;
    color: #555;
    justify-content: center;
    background-color: var(--white-color);
}

.home-filter__page-btn:first-child{
    border-right: 1px solid #eee;
}

.home-filter__page-btn--disable{
    background-color: #f9f9f9;
    color: #ccc;
    cursor: default;
}

/* Product item */
.home-products{
    margin-bottom: 10px;
}

.home-products-item{
    position: relative;
    display: block;
    text-decoration: none;
    transition: transform linear 0.2s;
    margin-top: 10px;
    background-color: var(--white-color);
    border-radius: 2px;
    will-change: transform;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.home-products-item:hover{
    transform: translateY(-1px);
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.06);
}

.home-products-item__img{
    border-radius: 2px;
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
}

.home-products-item__name{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8rem;
    color: var(--text-color);
    margin: 10px 10px 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.home-products-item__price{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

.home-products-item__price-old{
    font-size: 1.4rem;
    margin-left: 10px;
    color: #666;
    text-decoration: line-through;
}

.home-products-item__price-current{
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 10px;
}

.home-products-item__action{
    display: flex;
    margin: 8px 10px 0;
    justify-content: space-between;
}

.home-products-item__like{
    cursor: pointer;
    font-size: 1.3rem;
}

.home-products-item__like--active{
    color: red;
    display: none;
}

.home-products-item__like--liked .home-products-item__like--active{
    display: inline-block;
}

.home-products-item__like--liked .home-products-item__like--none{
    display: none;
}

.home-products-item__rating{
    color: #d5d5d5;
    font-size: 0.8rem;
    margin: -1px 0 0 auto;
}

.home-products-item__star-gold{
    color: var(--star-gold);
}

.home-products-item__sold{
    margin-left: 6px;
    font-size: 1.2rem;
    color: var(--text-color);
}

.home-products-item__origin{
    display: flex;
    margin: 3px 10px 0;
    color: #595959;
    justify-content: space-between;
    font-weight: 300;
    font-size: 1.2rem;
}

.home-products-item__favorite{
    position: absolute;
    top: 10px;
    left: -4px;
    font-weight: 500;
    font-size: 1.2rem;
    color: var(--primary-color);
    line-height: 1.6rem;
    padding-right: 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: currentColor;
}

.home-products-item__favorite::after{
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(60%);
}

.home-products-item__favorite span{
    color: var(--white-color);
}

.home-products-item__favorite i{
    color: var(--white-color);
    font-size: 0.9rem;
    margin: 0 2px 0 5px;
}

.home-products-item__sale-off{
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 36px;
    text-align: center;
    background-color: rgba(255, 216, 64, 0.94);
}

.home-products-item__sale-off::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    border-style: solid;
    border-width: 0 20px 5px;
    border-color: transparent rgba(255, 216, 64, 0.94) transparent rgba(255, 216, 64, 0.94);
    
}

.home-products-item__sale-off-percent{
    position: relative;
    top: 3px;
    color: #EE4D2D;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.2rem;
}

.home-products-item__sale-off-label{
    position: relative;
    top: 4px;
    font-size: 1.4rem;
    line-height: 1.4rem;
    font-weight: 600;
    color: var(--white-color);
}


/* Footer */

.footer{
    padding-top: 16px;
    border-top: 4px solid var(--primary-color);
}

.footer__heading{
    font-size: 1.4rem;
    text-transform: uppercase;
}

.footer__list{
    list-style: none;
    padding-left: 0;
}

.footer__list-item{

}

.footer__list-item-link{
    font-size: 1.2rem;
    color: #737373;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 4px 0;
}

.footer__list-item-link:hover{
    color: var(--primary-color);
}

.footer__list-icon{
    margin: -1px 8px 0 0;
    font-size: 1.7rem;
}

.footer__download{
    display: flex;
}

.footer__downloadQR-img{
    width: 80px;
    height: 80px;
    object-fit: contain;
    border: 1px solid var(--border-color);
}

.footer__download-app{
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    justify-content: center;
}

.footer__download-app-img{
    width: 100%;
}

.footer__bottom{
    padding: 12px 0;
    background-color: #f5f5f5;
}

.footer__copyright{
    color: #737373;
    text-align: center;
    margin: 0;
    font-size: 1.4rem;
}